.formpage{
    width: 400px;
    height: 900px;
    background-color:black;
    color: white;
}

.a{
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: auto;
}