table{
    background-color: bisque;
    color: black;
    text-align: center;
}
h1{
    text-align: center;
}
button{
    background-color: red;
    color: white;
    border-radius: 10px;
}
.parent{
    display: flex;
    justify-content: space-around;
    
}
.a {
    margin-right: 220px;
    
    
}
.a button{
    background-color: blue;
    color: white;
}
.b button{
    background-color: green;
    color: white;
}
