<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="main">
    <div class="container">
      <h1>Calculator</h1><br>

      <h3>{{result}}</h3><br><br>
      <label>Number 1:</label>
      <input type="number" [(ngModel)]="num1"><br><br>
      <label>Number 2:</label>
      <input type="number" [(ngModel)]="num2"><br><br><br>
      <button (click)="add()" [disabled]="!num1 || !num2">Add</button>
      <button (click)="sub()" [disabled]="!num1 || !num2">Sub</button>
      <button (click)="mul()" [disabled]="!num1 || !num2">Mul</button>
      <button (click)="div()" [disabled]="!num1 || !num2">Div</button>


   </div>
    </div>
</body>
</html>