<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="main">
    <div class="container">
        <h1>BMI Calculator</h1>
        <label>Weight:</label>
      <input type="number" [(ngModel)]="weight"><br><br>
      <label>Height:</label>
      <input type="number" [(ngModel)]="height"><br><br><br>
      <button (click)="bmi()">bmi calculator</button><br><br>
      
      

      <h3>{{result}}</h3><br><br>
      <h3>{{category}}</h3><br><br>

    </div>
    </div>

    
     
</body>
</html>