<div class="form">
    <form [formGroup]="studentForm">
        <label>Name:</label>
        <input class="g" type="text" formControlName="name"><br><br>
        <label>Phone:</label>
        <input class="g" type="number" formControlName="phone"><br><br>
        <label>D-O-B:</label>
        <input class="g" type="number" formControlName="dob"><br><br>
        <label>city:</label>
        <input class="g" type="text" formControlName="city"><br><br>
        <label>Email:</label>
        <input class="g" type="text" formControlName="email"><br><br>
        <label>School Name:</label>
        <input class="g" type="text" formControlName="school_name"><br><br>
        <label>School Pin:</label>
        <input class="g" type="number" formControlName="school_pin"><br><br>
        <button  class="x" (click)="create()" id="greenbutton">Create New Student</button>
    </form>
</div>