<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>Flipcart</h1>
    <div class="flipcart-container">
        <div class="flipcart-card" *ngFor="let flipcart of flipcarts">
          <img [src]="flipcart.image" alt="flipcart Image" class="flipcart-image" />
          <div class="flipcart-details">
            <h3 class="flipcart-title">{{ flipcart.title }}</h3>
            <p class="flipcart-description">{{ flipcart.description  | slice:0:200 }}</p>
            <div class="flipcart-price-rating">
              <span class="flipcart-price">₹{{ flipcart.price }}</span>
              <span class="flipcart-rate">⭐⭐⭐ {{ flipcart.rating.rate}}</span>
            </div>
          </div>
        </div>
      </div>
      
</body>
</html>
