*{
    margin: 0px;
}
.main{
    width: 100vw;
    height: 100vh;
    background-image: url(https://cdn.pixabay.com/photo/2018/04/24/17/10/welcome-3347467_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}