<div class="parent">
    <div class="left">
        <h3>My Website</h3><hr>
      <a routerLink="./home"><h5>Home</h5></a>
      <a  routerLink="./welcome"><h5>Welcome</h5></a>
      <a  routerLink="./data-binding"><h5>Data-binding</h5></a>
      <a  routerLink="./calculator"><h5>Calculator</h5></a>
       <a  routerLink="./login"><h5>Login</h5></a>
       <a  routerLink="./rectangle"><h5>Rectangle</h5></a>
       <a routerLink="./circle"><h5>Circle</h5></a>
       <a routerLink="./emi"><h5>EMI</h5></a>
       <a routerLink="./simpleinterest"><h5>SimpleInterest</h5></a>
       <a routerLink="./pinterest"><h5>Pinterest</h5></a>
       <a routerLink="./card"><h5>Card</h5></a>
       
       <a routerLink="./life-cycle-hooks"><h5>Life Cycle </h5></a>
       
      
      
    
       <a routerLink="./create-user"><h5>Create User</h5></a>
       <a routerLink="./create-report"><h5>Create Report</h5></a>
       
       <a routerLink="./employee-table"><h5>Employee DATA</h5></a>
      
       
       
       <a routerLink="./temperature"><h5>Temperature</h5></a>
       <a routerLink="./directives"><h5>Directives</h5></a>
       <a routerLink="./employee"><h5>Employee</h5></a>
       <a routerLink="./vehicle"><h5>Vehicle</h5></a>
       <a routerLink="./accounts"><h5>Accounts</h5></a>
       <a routerLink="./flipcart"><h5>Flipcart</h5></a>
       <a routerLink="./mail"><h5>Mail</h5></a>
       <a routerLink="./weather"><h5>Weather</h5></a>
       
       
      
       <a routerLink="./sibling1"><h5>Sibling1</h5></a>
       <a routerLink="./parent"><h5>Parent</h5></a>

       <a routerLink="./pipes"><h5>Pipes</h5></a>
       <a  routerLink="./bmi"><h5>BMI</h5></a><br><hr>
       

    </div>
    

    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
