<div class="parent">
    <div class="left">
        <h1>My Website</h1><hr>
      <a routerLink="./home"><h3>Home</h3></a> 
      <a  routerLink="./welcome"><h3>Welcome</h3></a>
      <a  routerLink="./data-binding"><h3>Data-binding</h3></a>

       <a  routerLink="./calculator"><h3>Calculator</h3></a>
       <a  routerLink="./rectangle"><h3>Rectangle</h3></a>
       <a routerLink="./circle"><h3>Circle</h3></a>
       <a routerLink="./emi"><h3>EMI</h3></a>
       <a routerLink="./simpleinterest"><h3>SimpleInterest</h3></a>
       
       <a routerLink="./temperature"><h3>Temperature</h3></a>
       <a routerLink="./directives"><h3>Directives</h3></a>
       <a routerLink="./employee"><h3>Employee</h3></a>
       <a routerLink="./pipes"><h3>Pipes</h3></a>
       <a  routerLink="./bmi"><h3>BMI</h3></a><br><hr>
       <a routerLink="./logout"><button>Logout</button></a>

    </div>
    

    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
