*{
    margin: 0px;
}
.main{
    width: 80vw;
    height: 100vh;
    background-image: url(https://t3.ftcdn.net/jpg/06/77/45/84/360_F_677458418_wMZuxWgJntonwA8bgw6JQjhhMwbFUzsV.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}