<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <div class="main">
    <div class="container">
  <h1>Temperature</h1><br>

  <label>Enter celsius:</label>
  <input type="number" [(ngModel)]="celsius"><br><br>
  <label>Enter fahrenheit:</label>
  <input type="number" [(ngModel)]="fahrenheit"><br><br>

  <button (click)="C()">Celsius to fahrenheit</button><br><br>
  <button (click)="F()">fahrenheit to celsius</button><br><br>
  <h3>{{result}}</h3>
</div>
</div>
</body>
</html>